/* the styles for the elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;



    padding: 2em;
    background:url('./images/azure.jpg');
}
main h1{
    font-size: 150%;
    background-color: #d2faf7;
    border: #931420 5px double;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px black;
    text-indent: 45px;
}
.navbar .navbar-nav {
    position: relative;
    float: none;
    text-align: center;
    margin: auto;
}
.form-inline{
    position: relative;
    float: right;
    alignment: right;
    margin: auto;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
#dockerImages{
  display: flex;
  flex-direction: column;
  height: 100%;
    .black-background {background-color:#000000;}
.white {color:#ffffff;}
}
